---
layout: layouts/base
title: Fitness Platoon Gym | Your place to get healthier
---


{% include 'sitenav.njk' %}
<main class="">
  <!-- HERO -->
  <section class="hero d-flex flex-column justify-content-center align-items-center" id="home">
    {# <div class="bg-overlay"></div> #}
    <div class="container overlay">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto col-12">
          <div class="hero-text mt-5 text-center animate__fadeInUpBig p-4">
            <h3 data-aos="fade-up" data-aos-delay="300">New way to build a healthy lifestyle!</h3>
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="500">Upgrade your body at Tycoon Fitness</h1>
            <div class="hero-cta mt-3 d-flex justify-content-center">
              <a href="#feature" class="custom-btn" data-aos="fade-up" data-aos-delay="600">Get started</a>
              <a href="#about" class=" custom-btn bordered" data-aos="fade-up" data-aos-delay="700">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="feature" id="feature">
    <div class="container">
      <div class="row align-items-center">
        <div class="col d-flex flex-column justify-content-center ml-lg-auto mr-lg-5 col-lg-6 col-md-6 col-12">
          <h2 class="mb-3 text-white" data-aos="fade-up">New to the Tycoon?</h2>
          <h6 class="mb-4 text-white" data-aos="fade-up">Your membership is up to 2 months FREE ($50.45 per month)</h6>
          <p data-aos="fade-up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error reprehenderit dolorem est ipsa dignissimos? Accusamus?</p>
          <button type="button" class="custom-btn bg-color mt-3 text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Become a member today
          </button>
        </div>

        <div class="col mr-lg-auto mt-3 col-lg-4 col-md-6 col-12">
          <div class="about-working-hours">
            <div>
              <h2 class="mb-4 text-white" data-aos="fade-up" data-aos-delay="500">Working hours</h2>
              <strong class="d-block" data-aos="fade-up" data-aos-delay="600">Sunday : Closed</strong>

              <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="700">Monday - Friday</strong>

              <p data-aos="fade-up" data-aos-delay="800">7:00 AM - 10:00 PM</p>

              <strong class="mt-3 d-block" data-aos="fade-up" data-aos-delay="700">Saturday</strong>

              <p data-aos="fade-up" data-aos-delay="800">6:00 AM - 4:00 PM</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="membershipFormLabel">Membership Form</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="membership-form webform" role="form">
            <input type="text" class="form-control" name="cf-name" placeholder="John Doe">
            <input type="email" class="form-control" name="cf-email" placeholder="Johndoe@gmail.com">
            <input type="tel" class="form-control" name="cf-phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
            <textarea class="form-control" rows="3" name="cf-message" placeholder="Additional Message"></textarea>
            <button type="submit" class="form-control" id="submit-button" name="submit">Submit Button</button>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="signup-agree">
              <label class="custom-control-label text-small text-muted" for="signup-agree">I agree to the <a href="#">Terms &amp;Conditions</a>
              </label>
            </div>
          </form>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>

  <!-- ABOUT -->
  <section class="about section" id="about">
    <div class="container">
      <div class="row">
        <div class="mt-lg-5 mb-lg-0 mb-4 col-lg-5 col-md-10 mx-auto col-12">
            <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Hello, we are Tycoon Fitness</h2>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam ipsum, qui quidem nam soluta consectetur ut dolores quia, error odio, eligendi quo necessitatibus temporibus blanditiis? Minima inventore nesciunt minus nihil nostrum repellendus corporis, excepturi consequatur laborum nisi praesentium dolorum tempora!</p>

        </div>
        <div class="ml-lg-auto col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="700">
          <div class="team-thumb">
            <img src="img/team/team-image.jpg" class="img-fluid" alt="Trainer">
            <div class="team-info d-flex flex-column">
              <h3>Mary Johnson</h3>
              <span>Body trainer</span>
              <ul class="social-icon mt-3">
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-instagram"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mr-lg-auto mt-5 mt-lg-0 mt-md-0 col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="800">
          <div class="team-thumb">
            <img src="img/team/team-image01.jpg" class="img-fluid" alt="Trainer">
            <div class="team-info d-flex flex-column">
              <h3>Anna Kinstong</h3>
              <span>Yoga Instructor</span>
              <ul class="social-icon mt-3">
                <li><a href="#" class="fa fa-instagram"></a></li>
                <li><a href="#" class="fa fa-facebook"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CLASS -->
  <section class="class section" id="class">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12 text-center mb-5">
          <h6>Get A Perfect Body</h6>
          <h2>Our Training Classes</h2>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="class-thumb">
            <img src="img/class/yoga-class.jpg" class="img-fluid" alt="Class">
            <div class="class-info">
              <h3 class="mb-1">Yoga</h3>
              <span><strong>Trained by</strong> - Anna</span>
              <span class="class-price">$34</span>
              <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            </div>
          </div>
        </div>
        <div class="mt-5 mt-lg-0 mt-md-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
          <div class="class-thumb">
            <img src="img/class/crossfit-class.jpg" class="img-fluid" alt="Class">
            <div class="class-info">
              <h3 class="mb-1">Areobic</h3>
              <span><strong>Trained by</strong> - Mary</span>
              <span class="class-price">$42</span>
              <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            </div>
          </div>
        </div>
        <div class="mt-5 mt-lg-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
          <div class="class-thumb">
            <img src="img/class/cardio-class.jpg" class="img-fluid" alt="Class">
            <div class="class-info">
              <h3 class="mb-1">Cardio</h3>
              <span><strong>Trained by</strong> - Claire</span>
              <span class="class-price">$63</span>
              <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SCHEDULE -->
  <section class="schedule section" id="schedule">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12 text-center">
          <h6>Our weekly schedules</h6>
          <h2 class="text-white">Workout Timetable</h2>
        </div>
        <div class="col-lg-12 py-5 col-md-12 col-12">
          <table class="table table-bordered table-responsive schedule-table">
            <thead class="thead-light">
                <th><i class="fa fa-calendar"></i></th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </thead>
            <tbody>
              <tr>
                <td><small>7:00 am</small></td>
                <td>
                  <strong>Cardio</strong>
                  <span>7:00 am - 9:00 am</span>
                </td>
                <td>
                  <strong>Power Workouts</strong>
                  <span>7:00 am - 9:00 am</span>
                </td>
                <td></td>
                <td></td>
                <td>
                  <strong>Yoga Routines</strong>
                  <span>7:00 am - 9:00 am</span>
                </td>
              </tr>
              <tr>
                <td><small>9:00 am</small></td>
                <td></td>
                <td></td>
                <td>
                  <strong>Boxing</strong>
                  <span>8:00 am - 9:00 am</span>
                </td>
                <td>
                  <strong>Areobic/Crossfit</strong>
                  <span>8:00 am - 9:00 am</span>
                </td>
                <td></td>
                <td>
                  <strong>Cardio</strong>
                  <span>8:00 am - 9:00 am</span>
                </td>
              </tr>
              <tr>
                <td><small>11:00 am</small></td>
                <td></td>
                <td>
                  <strong>Boxing</strong>
                  <span>11:00 am - 2:00 pm</span>
                </td>
                <td>
                  <strong>Areobic/Crossfit</strong>
                  <span>11:30 am - 3:30 pm</span>
                </td>
                <td></td>
                <td>
                  <strong>Full Body Workout</strong>
                  <span>11:50 am - 5:20 pm</span>
                </td>
              </tr>
              <tr>
                <td><small>2:00 pm</small></td>
                <td>
                  <strong>Boxing</strong>
                  <span>2:00 pm - 4:00 pm</span>
                </td>
                <td>
                  <strong>Power lifting</strong>
                  <span>3:00 pm - 6:00 pm</span>
                </td>
                <td></td>
                <td>
                  <strong>Cardio</strong>
                  <span>6:00 pm - 9:00 pm</span>
                </td>
                <td></td>
                <td>
                  <strong>Full Crossfit</strong>
                  <span>5:00 pm - 7:00 pm</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <!-- CONTACT -->
  <section class="contact section" id="contact">
    <div class="container">
      <div class="row">
        <div class="ml-auto col-lg-5 col-md-6 col-12">
          <h2 class="mb-4 pb-2">Feel free to ask anything</h2>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label my-0">Name</label>
            <input type="name" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label my-0">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label my-0">Write your message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button type="submit" class="form-control" id="submit-button" name="submit">Send Message</button>
        </div>
        <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12">
          <h2 class="mb-4">Where you can <span>find us</span></h2>
          <p><i class="fa fa-map-marker mr-1"></i> California 90266, EE. UU.</p>
            <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
            -->
          <div class="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26496.038845341034!2d-118.41865216662748!3d33.88952878656885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b3c5e2b0632f%3A0x70351d4f4154520!2sManhattan%20Beach%2C%20California%2090266%2C%20EE.%20UU.!5e0!3m2!1ses!2sve!4v1619708197106!5m2!1ses!2sve" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="ml-auto col-lg-4 col-md-5">
          <p class="copyright-text">Copyright &copy; 2021 Tycoon Fitness Co.
        </div>
        <div class="d-flex justify-content-center mx-auto col-lg-5 col-md-7 col-12">
          <p class="mr-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
            </svg>
            <a href="#">tycoon@fitness.co</a>
          </p>
          <p class="mx-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
          </svg> 555-666-7777</p>
        </div>
      </div>
    </div>
  </footer>
</main>